Investigation of Carbon Footprints of Different Food Groups

In [46]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

df = pd.read_excel('food_data_simple.xlsx')

In [47]:
df.info()
#df.head()
#df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 5 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   FOOD COMMODITY GROUP                              324 non-null    object
 1   Food commodity ITEM                               324 non-null    object
 2   Carbon Footprint kg CO2eq/kg or l of food ITEM    324 non-null    float64
 3   Food commodity TYPOLOGY                           324 non-null    object
 4   Carbon Footprint g CO2eq/g o cc of food TYPOLOGY  324 non-null    float64
dtypes: float64(2), object(3)
memory usage: 12.8+ KB

In [48]:
df["FOOD COMMODITY GROUP"].value_counts()

CROPS                     117
AGRICULTURAL PROCESSED    100
FISHING                    61
ANIMAL HUSBANDRY           46
Name: FOOD COMMODITY GROUP, dtype: int64

Now get the mean for each food commodity group and visualise potential trends:

In [49]:
df.groupby("FOOD COMMODITY GROUP").mean()

,Carbon Footprint kg CO2eq/kg or l of food ITEM,Carbon Footprint g CO2eq/g o cc of food TYPOLOGY
FOOD COMMODITY GROUP,,
AGRICULTURAL PROCESSED,1.744637,1.734610
ANIMAL HUSBANDRY,8.771132,8.260169
CROPS,0.854792,0.749487
FISHING,5.343937,4.671639

In [50]:
comm_group_df = df.groupby("FOOD COMMODITY GROUP").mean()
print(comm_group_df)

                        Carbon Footprint kg CO2eq/kg or l of food ITEM  \
FOOD COMMODITY GROUP
AGRICULTURAL PROCESSED                                        1.744637
ANIMAL HUSBANDRY                                              8.771132
CROPS                                                         0.854792
FISHING                                                       5.343937

                        Carbon Footprint g CO2eq/g o cc of food TYPOLOGY
FOOD COMMODITY GROUP
AGRICULTURAL PROCESSED                                          1.734610
ANIMAL HUSBANDRY                                                8.260169
CROPS                                                           0.749487
FISHING                                                         4.671639

Now look at CO2 footprint per food typology (higher resolution than food commodity group):

In [51]:
df.groupby("Food commodity TYPOLOGY").mean()

,Carbon Footprint kg CO2eq/kg or l of food ITEM,Carbon Footprint g CO2eq/g o cc of food TYPOLOGY
Food commodity TYPOLOGY,,
BEEF BONE FREE MEAT*,25.751000,25.750
BEEF MEAT WITH BONE*,17.958200,17.960
BEER,0.728033,0.690
BISCUITS,1.461875,1.470
BOTTLED WATER* (mineral water),0.491000,0.490
...,...,...
WINE,0.658700,0.660
YEAST COMPRESSED*,0.824000,0.824
YEAST DRIED*,3.294000,3.294
YEAST LIQUID*,0.503000,0.503
YOGURT,2.671067,2.550